body {
  color: #ebebeb;
  background-color: #222222;
  font-family: 'Lato', sans-serif;
  height: 100%;
}

section {
  min-height: 100%;
}

.lead {
  font-size: 4rem;
}

.container,
.container-fluid {
  min-height: 100%;
  overflow: hidden;
}

.showLights {
  position: absolute;
  height: 100%;
  width: 99.1%;
  display: flex;
  justify-content: center;
  overflow: hidden !important;
  background: #222222;
}

svg {
  position: absolute;
  height: 100%;
}

.lines {
  opacity: 0.05;
}

.line {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #903a3a;
}

.lights {
  opacity: 0.9;
}

.light {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #ff6666;
}

html {
  height: 100%;
}

a:link {
  color: #5b5b5b;
  text-decoration: none;
}

a:visited {
  color: #5b5b5b;
}

a:hover {
  color: #f73f48 !important;
}

a:active {
  color: #f73f48;
}

.vertical-center {
  min-height: 100%;
  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh;
  /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center;
}

.scrollup {
  width: 64px;
  height: 64px;
  text-decoration: none;
  position: fixed;
  right: 42px;
  bottom: 42px;
  display: none;
  z-index: 100;
}

.fa-chevron-circle-up{
  font-size: 3.5rem;
}

.img-logo{
  width: 20%;
}

/* Navigation section */

#mainNav {
  min-height: 56px;
  background-color: #fff;
}

#mainNav .navbar-toggler {
  font-size: 80%;
  padding: 0.75rem;
  color: #f73f48;
  border: 1px solid #f73f48;
}

#mainNav .navbar-toggler:focus {
  outline: none;
}

#mainNav .navbar-brand {
  color: #161616;
  font-weight: 700;
  padding: .5rem 0;
  margin-right: 0 !important;
}

#mainNav .navbar-nav .nav-item:hover {
  color: fade(white, 80%);
  outline: none;
  background-color: transparent;
}

#mainNav .navbar-nav .nav-item:active,
#mainNav .navbar-nav .nav-item:focus {
  outline: none;
  background-color: transparent;
}

@media (min-width: 992px) {
  #mainNav {
      padding-top: 0;
      padding-bottom: 0;
      border-bottom: none;
      background-color: transparent;
      -webkit-transition: background-color 0.3s ease-in-out;
      transition: background-color 0.3s ease-in-out;
  }

  #mainNav .navbar-brand {
      color: rgba(255, 255, 255, 1);
      margin-right: 0 !important;
      width: 500px !important;
  }

  #mainNav .nav-link {
      -webkit-transition: none;
      transition: none;
      font-size: 1.2rem;
      padding: 2rem 1.5rem;
      color: #fff;
  }

  #mainNav .nav-link:hover {
      color: rgba(255, 255, 255, 0.75);
  }

  #mainNav .nav-link:active {
      color: white;
  }

  #mainNav.navbar-shrink {
      background-color: #fff;
  }

  #mainNav.navbar-shrink .navbar-brand {
      color: #161616;
  }

  #mainNav.navbar-shrink .nav-link {
      color: #161616;
      padding: 1.5rem 1.5rem 1.25rem;
      border-bottom: 0.25rem solid transparent;
  }

  #mainNav.navbar-shrink .nav-link:hover {
      color: #f73f48;
  }

  #mainNav.navbar-shrink .nav-link:active {
      color: #f73f48;
  }

  #mainNav.navbar-shrink .nav-link.active {
      color: #f73f48;
      outline: none;
      border-bottom: 0.25rem solid #f73f48;
  }
}

